.DownloadManager/
.ICEauthority
.PlayOnLinux/
.VirtualBox/
.Xilinx/
.anyconnect
.aptitude/
.bash_history
.bash_logout
.cache/
.codeblocks/
.config/
.dbus/
.dmrc
.dropbox-dist/
.dropbox/
.eclipse/
.esd_auth
.fontconfig/
.gEDA/
.gconf/
.gconfd/
.gegl-0.0/
.gimp-2.6/
.gimp-2.8/
.gitk
.gksu.lock
.gnash/
.gnome2/
.gnupg/
.gnuplot_history
.gstreamer-0.10/
.gtk-bookmarks
.ido.last
.java/
.liferea_1.8/
.local/
.login
.mission-control/
.mozilla/
.netbeans/
.nets/
.openoffice.org/
.opera/
.pki/
.profile
.pulse-cookie
.pulse/
.qt/
.shotwell/
.ssh/
.thumbnails/
.update-notifier/
.wine/
.xsession-errors
.xsession-errors.old
Desktop/
Downloads/
Dropbox/
NotDropbox/
VirtualBox VMs/
code
music
skole
